.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
*.rej.patch

### Mac OS ###
.DS_Store

# Never includes the src or run directories
versions/**/src
versions/**/runServer
versions/**/runClient
# Ignore all versions by default
versions/*
# Don't ignore the current version
!versions/26.1-snapshot-1

versions/26.1-snapshot-1/patches/aix
versions/26.1-snapshot-1/patches/darwin
versions/26.1-snapshot-1/patches/freebsd
versions/26.1-snapshot-1/patches/google
versions/26.1-snapshot-1/patches/joptsimple
versions/26.1-snapshot-1/patches/linux
versions/26.1-snapshot-1/patches/META-INF
versions/26.1-snapshot-1/patches/org
versions/26.1-snapshot-1/patches/win
versions/26.1-snapshot-1/patches/manifests.json.patch
versions/26.1-snapshot-1/patches/migration
HytaleServer.jar
